<section>
  <h1>{{ titre|upper }}</h1>
  
  <form method="POST" class="connexion" action="admin?entite=utilisateur&action=m&utilisateur_id={{  utilisateur.utilisateur_id }}">

    <label>Nom</label>
    <input name="utilisateur_nom" value="{{ utilisateur.utilisateur_nom }}">
    <span>&nbsp;{{ erreurs.utilisateur_nom }}</span>

    <label>Prénom</label>
    <input name="utilisateur_prenom" value="{{ utilisateur.utilisateur_prenom }}">
    <span>&nbsp;{{ erreurs.utilisateur_prenom }}</span>

    <label>Courriel</label>
    <input name="utilisateur_courriel" value="{{ utilisateur.utilisateur_courriel }}">
    <span>&nbsp;{{ erreurs.utilisateur_courriel }}</span>


    <label>Profil</label>
    <select name="utilisateur_profil">
      <option value="{{ constant('utilisateur::PROFIL_UTILISATEUR')    }}" {{ utilisateur.utilisateur_profil == constant('utilisateur::PROFIL_UTILISATEUR')    ? 'selected' : '' }}>Utilisateur</option>
      <option value="{{ constant('utilisateur::PROFIL_ADMINISTRATEUR') }}" {{ utilisateur.utilisateur_profil == constant('utilisateur::PROFIL_ADMINISTRATEUR') ? 'selected' : '' }}>Administrateur</option>
    </select>
    <span>&nbsp;{{ erreurs.utilisateur_profil }}</span>

    <input type="hidden" name="utilisateur_id" value="{{ utilisateur.utilisateur_id }}">

    <input type="submit" value="Envoyer">
</form>
  </div>
</section>